@use "../../assets/sass/_variables.scss" as *;

// EMPLOYEE TILES
.employee{
  border: 2px solid $color-blue;
  height: 360px;
  width: 260px;
  border-radius: 15px;
  background-color: $color-blue;
  padding: 10px;
  line-height: 50px;
  
  // EMPLOYEE NAME
  &__detail{
    margin-top: 20px;
    &--name{
      font-size: 20px;
      color: $color-primary;
      font-weight: 400;
    }
    
    //EMPLOYEE ROLE
    &--role{
      font-size: 17px;
      color: $color-primary;
      font-weight: 400;
    }
  }


}